BITCOIND_URL=
EMILY_URL=
MEMPOOL_API_URL=https://mempool.space/api
PUBLIC_MEMPOOL_URL=https://mempool.space
BITCOIN_RPC_USER_NAME=
BITCOIN_RPC_PASSWORD=
WALLET_NETWORK=
SBTC_CONTRACT_DEPLOYER=
BANNER_CONTENT=
RECLAIM_LOCK_TIME=
NEXT_TELEMETRY_DISABLED=1
SUPPORT_LINK=
POLLING_INTERVAL=5000
BRIDGE_APP_URL=https://app.stacks.co
STACKS_API_URL=https://api.hiro.so
# comma separated values style
# withdrawals,reskin
FEATURE_FLAGS=
WITHDRAWAL_FEE_MULTIPLIER=4
HIRO_API_KEY=
